name: release cutechess
on:
  push:
    branches:
      - '**'

jobs:
  linuxbuild:
    name: "Linux Build - Qt ${{ matrix.qt_version }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        qt_version: [6.9.3]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4

      - name: install qt 6.x
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ matrix.qt_version }}
          modules: 'qt5compat'

      - name: build cute chess
        run: |
          mkdir build
          cd build
          cmake .. -DWITH_TESTS=OFF -DCMAKE_INSTALL_PREFIX=/usr
          cmake --build .
          make install DESTDIR=AppDir

      - name: download appimage tools
        run: |
          sudo apt install libfuse2 libxcb-cursor0
          cd build
          curl -fsSLO https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage
          curl -fsLSO https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/continuous/linuxdeploy-plugin-qt-x86_64.AppImage
          chmod +x linuxdeploy-*.AppImage

      - name: set version
        run: echo "VERSION=$(cat .version)" >> $GITHUB_ENV

      - name: build appimage
        run: |
          cd build
          ./linuxdeploy-x86_64.AppImage --appdir AppDir --plugin qt --output appimage --custom-apprun=../dist/appimage/CuteChess-AppRun --icon-file=../projects/gui/res/icons/cutechess_256x256.png --executable cutechess --executable cutechess-cli

      - name: upload linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: cutechess-linux-appimage
          path: build/Cute_Chess-*-x86_64.AppImage

  winbuild:
    name: "Windows Build - Qt ${{ matrix.qt_version }}"
    runs-on: ${{ matrix.os }}
    env:
      VCDIR: 'C:\Program Files\Microsoft Visual Studio\2022\Enterprise'
      ISDIR: 'C:\Program Files (x86)\Inno Setup 6'
    strategy:
      matrix:
        qt_version: [6.9.3]
        os: [windows-latest]
    steps:
      - uses: actions/checkout@v4

      - name: install qt 6.x
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ matrix.qt_version }}
          modules: 'qt5compat'

      - name: build cute chess
        run: |
          mkdir build
          cd build
          cmake .. -DWITH_TESTS=OFF
          cmake --build . --config release

      - name: set environment
        run: |
          chcp 65001
          $version = Get-Content -Path .version
          echo ("VERSION=" + $version) >> $env:GITHUB_ENV

      - name: create a release zip file
        run: |
          mkdir cutechess-$env:VERSION-win64
          cd cutechess-$env:VERSION-win64
          cp ..\build\Release\cutechess.exe .
          cp ..\build\Release\cutechess-cli.exe .
          cp ..\docs\cutechess-cli.6.html .
          cp ..\docs\cutechess-cli.6.txt .
          cp ..\docs\cutechess-engines.json.5.html .
          cp ..\docs\cutechess-engines.json.5.txt .
          cp ..\COPYING .
          cp "$env:VCDIR\VC\Redist\MSVC\v143\vc_redist.x64.exe" .
          cp "$env:QT_ROOT_DIR\bin\Qt6Core.dll" .
          cp "$env:QT_ROOT_DIR\bin\Qt6Gui.dll" .
          cp "$env:QT_ROOT_DIR\bin\Qt6Svg.dll" .
          cp "$env:QT_ROOT_DIR\bin\Qt6PrintSupport.dll" .
          cp "$env:QT_ROOT_DIR\bin\Qt6Widgets.dll" .
          cp "$env:QT_ROOT_DIR\bin\Qt6ConCurrent.dll" .
          cp "$env:QT_ROOT_DIR\bin\Qt6Core5Compat.dll" .
          mkdir platforms
          cp "$env:QT_ROOT_DIR\plugins\platforms\qwindows.dll" platforms\
          mkdir styles
          cp "$env:QT_ROOT_DIR\plugins\styles\qmodernwindowsstyle.dll" styles\
          mkdir plugins
          mkdir plugins\iconengines
          cp "$env:QT_ROOT_DIR\plugins\iconengines\qsvgicon.dll" plugins\iconengines
          mkdir plugins\imageformats
          cp "$env:QT_ROOT_DIR\plugins\imageformats\qsvg.dll" plugins\imageformats
          cd ..
          7z a cutechess-$env:VERSION-win64.zip cutechess-$env:VERSION-win64\

      - name: create an installer
        run: |
          & "$env:ISDIR\iscc.exe" /DMyAppVersion=$env:VERSION /DQtLibPath=$env:QT_ROOT_DIR /DMSVCPath=$env:VCDIR /DCuteChessPath=$env:GITHUB_WORKSPACE dist\windows_setup.iss

      - name: upload windows artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cutechess-windows-binaries
          path: |
            cutechess-*-win64.zip
            dist/cutechess-*-win64.exe